header{
    border: 5px solid black;
    color: rgb(157, 193, 131);
    background-color: black;
    font-family: helvetica;
}
#shipLogo {
    margin: 10px 1200px 10px;
}
article{
    padding: 25px 50px 100px;
    font-family: helvetica;
    transition: background-color 20s ease;
    background-color: rgb(157, 193, 131);
}
h1{
    margin: 10px 50px 25px;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    margin: 20px 100px 20px;
    transition: color 5s ease;
    color: black;
}

.column{
    float: left;
    width: 50%;
}

figure{
    
    float: center;
}

.pasta {
    float: left;
    margin: 15px 30px 50px;
}

.photos {
    margin: 25px 150px 100px;
    float: center;
}
