header{
    border: 5px solid black;
    color: rgb(157, 193, 131);
    background-color: black;
    font-family: helvetica;
}
#shipLogo {
    margin: 10px 1200px 10px;
}
article{
    padding: 25px 50px 75px 100px;
    font-family: helvetica;
    transition: background-color 10s ease;
    background-color: rgb(157, 193, 131);
}
h1{
    margin: 10px 50px 25px;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    margin: 20px 150px 20px;
    transition: color 5s ease;
    color: black;
}
.description {
    margin: 25px 150px 25px;
}
ol{
    margin: 10px 200px 25px;
}
figure{
    margin: 25px 100px 25px;
}

